
@{
    ViewBag.Title = "Configuraciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    <body>
        <div class="card-group">
            <div class="card">
                <img src="~/img/usuario.png" width="120" height="120" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ingresar Usuario</h5>
                    <a href="~/Users" class="btn btn-info">Ingresar</a>
                </div>
            </div>
            <div class="card">
                <img src="~/img/rol.jpg" width="120" height="120" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ingresar Rol Usuario</h5>
                    <a href="~/Rols" class="btn btn-info">Ingresar</a>
                </div>
            </div>
            <div class="card">
                <img src="~/img/clientes.png" width="120" height="120" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ingresar Cliente</h5>
                    <a href="~/Clients" class="btn btn-info">Ingresar</a>
                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card">
                <img src="~/img/direccion.jpg" width="120" height="120" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ingresar Dirección</h5>
                    <a href="~/Adresses" class="btn btn-info">Ingresar</a>
                </div>
            </div>
            <div class="card">
                <img src="~/img/Productos.jpeg" width="120" height="120" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ingresar Productos</h5>
                    <a href="~/Products" class="btn btn-info">Ingresar</a>
                </div>
            </div>
            <div class="card">
                <img src="~/img/stock.JPG" width="120" height="120" alt="">
                <div class="card-body">
                    <h5 class="card-title">Ingresar Stock Producto</h5>
                    <a href="~/Stocks" class="btn btn-info">Ingresar</a>
                </div>
            </div>
        </div>
    </body>
}
